*{
    margin: 0;
    padding: 0;
}

#logo{
    font-size: 2em;
    color: palevioletred;
}

#search_bar_div{
    background-color: white;
}

#search_bar{
    border-radius: 20px;
    outline: none;
    width: 20em;
    padding: 7px;
    height: 40px;
}

#search_bar_icon{
    display: flex;
    justify-content: center;
}

#search_bar_button{
    width: 7em;
    padding: 7px;
    border-radius: 5px;
}

#api_data_div{
    margin-top: 4em;
    margin-left: 2em;
}

